<h1>我的訂單</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>訂單編號</td>
      <td>訂單總金額</td>
      <td>訂單狀態</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.slug %>
      </td>
      <td><%= order.total_price %> 元</td>
      <td><%= order.paid? ? "已付款" : "尚未府款" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
