<h1>商品列表</h1>

<%= link_to '我的購物車', cart_path, class: "btn btn-default btn-success" %>

<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>售價</td>
      <td>其他</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.title %>
      </td>
      <td><%= product.price %></td>
      <td>
        <%= link_to '加入購物車', add_cart_path(product), method: "post", class: "btn btn-xs btn-primary" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
